PORT=8000
DB_PATH=sqlite:///./data/cv_builder.db
LLM_ENGINE=gemini [ollama, gemini]
JOB_TECHS=WordPress,Django,Laravel,PHP,Python
WWR_RSS=https://weworkremotely.com/remote-jobs.rss,https://weworkremotely.com/categories/remote-programming-jobs.rss,https://weworkremotely.com/categories/remote-back-end-programming-jobs.rss,https://weworkremotely.com/categories/remote-full-stack-programming-jobs.rss
REMOTIVE_CATEGORY=software-development
JOBICY_URL=https://jobicy.com/api/v2/remote-jobs
JOBICY_LOCATIONS=anywhere,latam
JOBICY_INDUSTRIES=engineering,web-app-design
GET_ON_BOARD_URL=https://www.getonbrd.com/api/v0

# LLM settings
LLM_ENGINE=gemini
PAUSE_BETWEEN_REQUEST=5
EVALUATE_JOB_TEMPERATURE=0.2
EVALUATE_JOB_TOKENS=512
WRITE_CV_TEMPERATURE=0.1
WRITE_CV_TOKENS=2048

# Anthropic (Claude)
ANTHROPIC_API_KEY=[API-KEY]
CLAUDE_MODEL=claude-3-5-sonnet-20241022

# Gemini
GEMINI_API_KEY=[API-KEY]
GEMINI_MODEL=gemini-3.5-flash

# Ollama
OLLAMA_PORT=11434
OLLAMA_HOST=http://ollama:11434
OLLAMA_MODEL=qwen2.5:3b

# OpenAI
OPENAI_API_KEY=[API-KEY]
OPENAI_MODEL=gpt-4o-mini
