PORT=8000
DB_PATH=sqlite:///./data/cv_builder.db
LLM_ENGINE=gemini [ollama, gemini]
JOB_TECHS=WordPress,Django,Laravel,PHP,Python
WWR_RSS=https://weworkremotely.com/remote-jobs.rss,https://weworkremotely.com/categories/remote-programming-jobs.rss,https://weworkremotely.com/categories/remote-back-end-programming-jobs.rss,https://weworkremotely.com/categories/remote-full-stack-programming-jobs.rss
REMOTIVE_CATEGORY=software-development

# LLM settings
LLM_ENGINE=gemini
PAUSE_BETWEEN_REQUEST=5

# GEMINI
GEMINI_API_KEY=[API-KEY]
GEMINI_FAST_MODEL=gemini-2.5-flash
GEMINI_PRO_MODEL=gemini-2.5-pro

# Local LLM
OLLAMA_PORT=11434
OLLAMA_HOST=http://ollama:11434
OLLAMA_FAST_MODEL=qwen2.5:3b
OLLAMA_PRO_MODEL=llama3:8b
